---
import Layout from '../layouts/Layout.astro';
import News from '../components/News.vue';
import Discounts from '../components/Discounts.vue';
---

<Layout>
	<main>
		<News client:load />
		<Discounts client:load />
	</main>
</Layout>

