---
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>IK BEN SKEER.</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Sarabun:wght@400;500;600&display=swap" rel="stylesheet">
	
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-E9BESN0LN2"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-E9BESN0LN2');
		</script>
	</head>
	<body>
		<Header client:load />
		<slot />
		<Footer client:load />
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #f9fafb;
	}

	body {
		overflow-x: hidden;
	}

	* {
		margin: 0;
		padding: 0;
	}
</style>
